<html ng-app="appCrudAngular">
<head>


    <link rel="stylesheet" href="bower_components/angular/angular-csp.css">
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
</head>

<body ng-controller="ClienteCtrl">
<h2>Hello World Curso Angular JS UCDB!</h2>

<ul>

    <form>

        Id:
        <input type="text" ng-model="cliente.id" />


        Nome:
        <input type="text" ng-model="cliente.nome" />

        E-mail:
        <input type="text" ng-model="cliente.email" />

        <button ng-click="salvar()"> Salvar </button>
    </form>


    <li ng-repeat="cliente in clientes">

        {{cliente.id + " "+ cliente.nome +" - " + cliente.email }}
        <button ng-click="excluir(cliente.id)"> Excluir </button>
        <button ng-click="editar(cliente)"> Editar </button>
    </li>





</ul>

</body>
</html>
