<html ng-app="appCrudAngular">
<head>


    <link rel="stylesheet" href="bower_components/angular/angular-csp.css">

    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">


</head>

<body ng-controller="ClienteCtrl">
<h2>Hello World Curso Angular JS UCDB!</h2>



    <form>

        Id:
        <input type="text" ng-model="cliente.id"/>


        <md-input-container>
            <label>Nome</label>
            <input type="text" ng-model="cliente.nome"/>
        </md-input-container>


        <md-input-container>
            <label>Email</label>
            <input ng-model="cliente.email" type="email">
        </md-input-container>


        <md-button class="md-raised md-primary" ng-click="salvar()">Salvar</md-button>
    </form>

<div ng-cloak>
    <md-content>
        <md-list>
            <md-list-item class="md-3-line md-long-text" ng-repeat="cliente in clientes">

                <div class="md-list-item-text">
                {{cliente.id + " "+ cliente.nome +" - " + cliente.email }}


                <button ng-click="excluir(cliente.id)"> Excluir</button>
                <button ng-click="editar(cliente)"> Editar</button>
                </div>

            </md-list-item>

        </md-list>
    </md-content>
</div>



<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-aria/angular-aria.min.js"></script>

<script src="bower_components/angular-animate/angular-animate.min.js "></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>
ß

</body>
</html>
